<img src="../images/design5C/links.gif" width="750" height="30" border="0" usemap="#LinkMap">
<map name="LinkMap" id="LinkMap">
  <area shape="rect" coords="4,2,58,28" href="index.asp" alt="">
  <area shape="rect" coords="61,1,206,35" href="listings.asp" alt="">
  <area shape="rect" coords="206,1,320,28" href="recent-results.asp" alt="">
  <area shape="rect" coords="320,1,466,44" href="content.asp?id=7" alt="">
  <area shape="rect" coords="469,0,581,40" href="online-bidding.asp" alt="">
  <area shape="rect" coords="582,-2,661,38" href="about.asp" alt="">
  <area shape="rect" coords="662,1,748,34" href="contact.asp" alt="">
</map>